/*-- scss:defaults --*/
  
.slide-background-content {
    background-color: #fff;
}

.slide-logo {
  max-height: 10% !important;
}

.date {
  font-size: .7em;
  color: #373F43;
}

.flowchart2a, .flowchart2b, .flowchart2c {
    
    margin: 10px;
    padding: 3px;
    color: #373F43;
}

.flowchart2a {
    background-color: #F2940080;
}

.flowchart2b {
    background-color: #F2940055;
}

.flowchart2c {
    background-color: #F2940030;
}

.citation {
  float: right;
  opacity: .6;
  font-size: .7em;
}

.myref > p {
  font-size: 10px;
}

.blueTop, .blueBottom {
        padding: 5px;
        text-align: center;
}

.blueTop {
    color: #FFF;
    background-color: #6ca5d990;
}

.blueBottom {
    background-color: #6ca5d940;
}


/*-- BG COLORS --*/
.yellow {
    background-color: #F2940080;
}

.blue {
    color: #FFF;
    background-color: #6ca5d990;
}