slides > slide:not(.nobackground):after {
  content: '';
}

.title-slide {
  background-image: url("title-bg.jpg");
  background-size: cover;
}

slides > slide.title-slide hgroup h1 {
  color: white;
  text-shadow: 2px 2px 1px rgba(0,0,0, 0.5);
}


slides > slide.title-slide hgroup p {
  color: white;
}

.title-slide hgroup h2 {
  color: white !important;
}


code {
  color: white;
  background-color: darkgrey;
  padding-left: 3pt;
  padding-right: 3pt;
}

/*
.question {
  background-color: #fdc2bb;
  color: #2D373C;
  border-left: 6px solid #f94f3c;
  padding: 5px 0 5px 10px;
}
*/


/* logo title slide */
.plogo {
  height: 108px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

.gdbar img {
  width: 194px !important;
  height: 108px !important;
  margin: 0px 0px;
}

.gdbar {
  width: 240px !important;
  height: 120px !important;
  background: #fff !important;
}

/* footer logo */
slides > slide:not(.nobackground):before {
  width: 0px;
  height: 0px;
  background-size: 0px 0px;
}

/* footer link to slides */
.myfooter {
  height: 0px;
  position: absolute;
  bottom: 5%;
  width: 85%;
  text-align: center;
  font-size: 0.7em;
}

a:link {
    color: grey;
    border-bottom: 1px solid grey;
}

a:visited {
    color: grey;
    border-bottom: 1px solid grey;
}

a:hover {
    color: grey;
    border-bottom: 1px solid grey;
}

a:active {
    color: grey;
    border-bottom: 1px solid grey;
}


/* references on slides */
.cite {
  float: right;
  opacity: .6;
  font-size: .7em;
}

/*
.fullscreenac {
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  background-image: url("access.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; 
  z-index: 2;
}
*/



/* divs for slide design */
.header-margin {
  margin-left: 42%;
}

.container {
    justify-content: center;
    display: flex;
}

.box30 {
    margin: 20px;
    width: 30%;
    text-align: center;
}

.box60 {
    margin: 20px;
    width: 60%;
    text-align: center;
}

.box45l {
  width: 45%;
  margin-right: 20px;
}

.box45r {
  width: 45%;
  margin-left: 53%;
}

.box60l {
  width: 60%;
  margin-right: 20px;
}

.box60r {
  width: 58%;
  margin-left: 42%;
}

.box-bg-r {
  position: absolute;
  left: 60%;
  top:0;
  width: 40%;
  height: 100%;
  padding-top: 15%;
  background-color: #237986;
  z-index: -1;
  text-align: center;
  font-weight: 900;
  color: white;
}

.box-bg-r2 {
  position: absolute;
  left: 60%;
  top:0;
  width: 40%;
  height: 100%;
  padding-top: 5%;
  background-color: #237986;
  z-index: -1;
  text-align: center;
  font-weight: 900;
  color: white;
}

.box-bg-l {
  position: absolute;
  left: 0%;
  top:0px;
  width: 40%;
  height: 100%;
  padding-top: 25%;
  background-color: #d49c22;
  /*opacity: .5;*/
  z-index: -1;
  text-align: center;
  font-size: 3.1em;
  font-weight: 900;
  color: white;
}

.box-bg-l2 {
  position: absolute;
  left: 0%;
  top:0px;
  width: 40%;
  height: 100%;
  padding-top: 22%;
  background-color: #d89b28;
  /*opacity: .5;*/
  z-index: -1;
  text-align: center;
  font-size: 3.1em;
  font-weight: 900;
  color: white;
}

.box-bg-l3 {
  position: absolute;
  left: 0%;
  top:0px;
  width: 40%;
  height: 100%;
  padding-top: 22%;
  background-color: #237986;
  /*opacity: .5;*/
  z-index: -1;
  text-align: center;
  font-size: 3.1em;
  font-weight: 900;
  color: white;
}

.box-bg-l-small {
  position: absolute;
  left: 0%;
  top:0px;
  width: 34%;
  height: 100%;
  padding-top: 13%;
  padding-left:6%;
  background-color: #d49c22;
  /*opacity: .5;*/
  z-index: -1;
  color: white;
}


.blueTop {
    width:100%; 
    color: #FFF;
    background-color: #6ca5d990;
    padding: 5px;
}

.blueBottom {
    width:100%; 
    background-color: #6ca5d940;
    padding: 5px;
}

.flowchart1_w {
    width: 25%;
    
}

.flowchart1 {
    width: 25%;
    /*background-color: #6ca5d980;*/
    background-image: url('eff1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}


.flowchart2a, .flowchart2b, .flowchart2c {
    
    margin: 10px;
    padding: 3px;
    color: #373F43;
}

.flowchart2a {
    background-color: #f3910080;
}

.flowchart2b {
    background-color: #f3910055;
}

.flowchart2c {
    background-color: #f3910030;
}


.myref > p {
  font-size: 10px;
}


/*
slides > slide.backdrop {
  background: white;
}
*/


/* single slides */

.franconeri {
  background-image: url('franconeri.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top:1%;
  left:4%;
  height:98%;
  width: 96%;
  z-index: 99;
}


/* CODE HIGHLIGHT */
/* a comment */
.prettyprint .com {
  color: #BF1932;
  font-style: italic;
}


/* a literal value */
.prettyprint .lit {
  color: orange;
}
 

/* parenthesis, commas, ... */
.prettyprint .pun,
.prettyprint .opn,
.prettyprint .clo {
  color: #4169e1;
  font-weight:bold;
}


/* regular text */
.prettyprint .pln {
  color: #293133;
}




/* REFERENCES */

#refs {
  position: absolute;
  top: 5%;
  left:5%;
  width:90%;
  height:90%;
}

#refs > div > p {
  font-size:0.4em !important;
  line-height: 1em !important;
  margin: 0 0 10px 0 !important;
  padding-left: 1.5em;
  text-indent:-1.5em;
}